.inputField {
    border: 1px solid darkgray;
    width: 100%;
    padding: 4px;
    font-size: 1.2rem;
}

.inputResult {
    border: 1px solid #f4f4f4;
    width: 100%;
    padding: 2px 4px 2px 8px;
    font-size: 1rem;
    cursor: pointer;
    background-color: white;     
}

.inputResult:hover {
    background-color: #f4f4f4;
}